<div class="content">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-2">
      <mat-card class="card">
        <div class="h4 title text-uppercase inline">Web Speech API Create Loads</div>
        <button mat-button color="primary" class="inline" color="warn"
                [disabled]="webSpeechSubscription"
                (click)="startWebSpeech()">SOS Virtual Dispatcher
        </button>

        <mat-card-content class="mb-0">
          <p *ngFor="let item of backupConversation" [ngStyle]="{ 'color': (item.type === 'Client') ? 'green': 'white', 'font-weight': 'bolder' }" >{{item.type}} - {{item.conversation}}</p>
        </mat-card-content>

        <br/>
        <br/>
        <br/>
        <button mat-mini-fab color="primary" (click)="help()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">help_outline</mat-icon>
        </button>
        
      </mat-card>
    </div>
  </div>


</div>
